.base-button {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 22px;
  padding: 19px 34px;
  width: fit-content;

  &::after{
    content: '';
    position: absolute;
  }

  &--primary {
    @extend .base-button;
    color: #23212a;
    background: var(--gradient);
  }

  &--secondary {
    @extend .base-button;
    color: #ffffff;
    background: var(--primary-dark);
  }
}
